
  header,
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1,
  h2,
  h3,
  h4 {
    color: #7e4333;
    font-family: "DM Serif Display";
  }
  a,
  p,
  ul,
  li {
    font-family: "DM Sans";
  }
  header a {
    text-decoration: none;
    color: aliceblue;
  }
  header {
    position: sticky;
    top: -0px;
    z-index: 1000;
  }
  footer {
    margin-top: 2%;
  }
  body {
    background-color: #f3e5d8;
    margin: 0;
    padding: 0;
  }
  table {
    border-spacing: 5px;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  td {
    border-bottom: 1px solid #7e4333;
    width: 100%;
    padding-top: 15px;
  }
  table tr td:nth-of-type(2) {
    text-align: right;
  }
  
  a {
    text-decoration: none;
  }
  
  #img-text h4,
  p {
    margin: 0;
  }
  .logo-bit {
    margin-top: 10px;
  }
  #logo-bitcook-header {
    background-color: #255538;
    width: 100%;
    margin: 0.2%;
    padding: 0.5%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: transform 0.3s ease, box-shadow 0.6s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #logo-bitcook-footer {
    background-color: #255538;
    width: 100%;
    margin: 0.2% 0.2% 0% 0.2%;
    padding: 0.5%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: transform 0.3s ease, box-shadow 0.6s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #logo-bitcook-header:hover,
  #logo-bitcook-footer:hover {
    transform: translateY(1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  footer div#logo-bitcook-footer img {
    margin-top: auto;
    margin-bottom: auto;
  }
  footer div#logo-bitcook-footer div {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  #envia-receta {
    list-style: none;
    color: #ffffff;
    margin: 0;
  }
  
  #main-risotto {
    width: 98%;
    max-width: 1444px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "receta receta ingrediente"
      "receta receta more"
      ;
    gap: 10px;
  }
  #img-risotto {
    width: 99%;
    height: auto;
    max-height: 236px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  #section-receta {
    width: 100%;
    max-width: 95%;
    height: auto;
    margin: 0 auto;
    background-color: #ffffffd4;
    padding: 2%;
    border-radius: 5px;
    grid-area: receta;
  }
  
  #section-receta ol li {
    max-width: 85%;
    margin-top: 10px;
  }
  
  #section-ingredients {
    width: 95%;
    height: auto;
    margin: 0 auto;
    background-color: #ffffffd4;
    padding: 15px;
    border-radius: 5px;
  }
  #section-more-recipes {
    width: 95%;
    height: auto;
    background-color: #ffffffd4;
    padding: 15px;
    border-radius: 5px;
  }
  #section-more-recipes img {
    width: 35%;
    height: auto;
    border-radius: 5px;
  }
  
  a {
    display: flex;
    align-items: center;
  }
  .section-img-recipes {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.6s ease;
  }
  
  .section-img-recipes:hover {
    transform: translateY(1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .img-recipe {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .text-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .icon-moon {
    width: 20px;
    height: auto;
    display: inline-block;
  }
  
  .prep-time{
    padding-left: 5px;
    background-color: #f3e5d8;
    border-radius: 5px;
    height: auto;
  }
  
  #circle-moon {
    background-color: #f3e5d8;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #conten-receta-icon-moon {
    display: flex;
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  #img-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    #main-risotto {
      width: 98%;
      max-width: 1444px;
      margin-top: 2%;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "receta"
        "ingrediente"
        "more";
      gap: 10px;
    }
  }
  
  .dark-mode body {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .dark-mode header,
  .dark-mode footer {
    background-color: #1e1e1e;
  }
  
  .dark-mode h1,
  .dark-mode h2,
  .dark-mode h3,
  .dark-mode h4 {
    color: #ffcc00;
  }
  
  .dark-mode a,
  .dark-mode p,
  .dark-mode ul,
  .dark-mode li {
    color: #ffffff;
  }
  
  .dark-mode #section-receta {
    background-color: #2a2a2a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .dark-mode #section-ingredients {
    background-color: #2a2a2a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .dark-mode #section-more-recipes {
    background-color: #2a2a2a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .dark-mode .section-img-recipes:hover {
    transform: translateY(1px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
  }
  
  .dark-mode #logo-bitcook-header:hover,
  #logo-bitcook-footer:hover {
    transform: translateY(1px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
  }
  
  .dark-mode #circle-moon {
    background-color: #2a2a2a;
    border: 1px solid #ffffff;
  }
  
  .dark-mode .icon-moon {
    width: 25px;
  }
  
  .dark-mode .prep-time h3{
    color:#7e4333;
  }
  
  .dark-mode .prep-time ul li{
    color:#000000;
  }