<header>
  <div id="logo-bitcook-header">
    <a routerLink="/">
    <img
      src="/logo-bitcook.png"
      alt="logo bit cook"
      title="logo bit cook"
      class="logo-bit"/>
    </a>
    <div id="conten-receta-icon-moon">
      <ul id="envia-receta">
        <a routerLink="{{'/form/'}}"><li>Envia tu receta</li></a>
      </ul>
      <a href="">
        <div id="circle-moon">
          <img src="/moon-icon.svg" alt="icon moon" class="icon-moon" />
        </div>
      </a>
    </div>
  </div>
</header>
