@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"); 

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
 h1,
h2,
h3,
h4 {
  color: #7e4333;
  font-family: "DM Serif Display";
}
a,
p,
ul,
li {
  font-family: "DM Sans";
} 

 header a {
  text-decoration: none;
  color: aliceblue;
}
header {
  position: sticky;
  top: 0px;
  z-index: 1000;
}
footer {
  margin-top: 2%;
}
body {
  background-color: #f3e5d8;
  margin: 0;
  padding: 0;
}
section a {
  text-decoration: none;
  color: #000000;
} 

li {
  list-style: none;
}